body {
    background-image: url('pizza8.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.menu-toggle {
    display: none;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000000; 
    text-align: center;
    box-shadow: 0 0 10px 5px #ff6600;
}

.navbar li {
    display: inline-block;
    margin: 17px;
}

.navbar a {
    text-decoration: none;
    color: #fff; 
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

.navbar a:hover {
    background-color: #ff6600; 
    color: #fff; 
}

.black-box {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 20px;
    border-radius: 10px;
    color: #fff; 
    text-align: center;
    height: 100%;
    box-shadow: 0 0 10px 5px #ff6600;

}



.total-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}

.total {
    max-width: 1000px; 
    margin: 0 auto;
    color: #fff;
    text-align: center;
   
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-button {
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.counter-button:hover {
   color: #ff6600;
   border: 2px solid #ff6600;
   box-shadow: 1px 1px 5px 0 #ff6600;
}

.counter-value {
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
}

.pizza-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.pizza-card {
    width: calc(25% - 20px); 
    background-color: #000; 
    border: 1px solid #222; 
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pizza-card:hover{
    box-shadow: 0 0 10px 5px #ff6600;
    color: #ff6600;
}

.pizza-card img {
    max-width: 100%;
    height: auto;
    border: 4px solid #ff6600 ;
    border-radius: 5px;
    /* box-shadow: 0 0 10px 5px #ff6600; */
}

.size-options {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.size-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    
    
}

.size-button:hover {
    color: #ff6600;
    border: 2px solid #ff6600;
    box-shadow: 1px 1px 5px 0 #ff6600;
}

.price {
    font-weight: bold;
    margin-top: 10px;
    color: white;
}


@media screen and (max-width: 480px) {
    .menu-toggle {
        display: block;
        text-align: right;
        margin: 10px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 40px;
        right: 0;
       
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle i {
        font-size: 30px;
        cursor: pointer;
    }

    .menu-toggle:hover {
        border: 1px solid black;
        padding: 3px;
    }

}


@media screen and (max-width: 800px) {
    .pizza-card {
        width: 100%;
    }
}
